<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Курс валют (USD, EUR, GBP)</title>
    </head>
    <body>
        <div id="root"></div>

        <script type="application/javascript" src="{{ url_for('static', filename='lib/react.development.js') }}"></script>
        <script type="application/javascript" src="{{ url_for('static', filename='lib/react-dom.development.js') }}"></script>
        <script type="application/javascript" src="{{ url_for('static', filename='lib/babel.min.js') }}"></script>
        <script type="text/babel" src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>